.remark-slide-content {
  background-image: url('background.jpg');
  background-size: cover;
  font-size: 32px;
  font-weight: 600;
  padding: 1em 1em 1em 2em
}

h1 {
  margin: 0;
}

.title-slide {
  background-image: url('cover.jpg');
  background-size: cover;
  color: #EEB422 !important;
  /*box-shadow: 1px 1px 2px #b22222;*/
  outline: thick double #EEB422BF;
  outline-offset: -25px;
}

.title-slide h1 {
  opacity: 0.80;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-family: 'Tangerine';
  font-size: 180px;
  text-shadow: 1px 1px 2px #b22222;
}

.title-slide h2 {
  opacity: 0.70;
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: 550;
  font-family: 'Tangerine';
  font-size: 90px;
  text-shadow: 1px 1px 2px #b22222;
}

.title-slide h3 {
  opacity: 0.50;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 32px;
}

.lettrine h1::first-letter {
  font-size: 2.5em;
  font-family: 'Ruthie', cursive;
  font-weight: 300;
  color: #b22222; 
  text-shadow: 1px 1px 2px #EEB422;
}
